(machine :Bakery0
  (variables :aa)
  (invariants (member? :aa (interval 0 2)))
  (init (assign :aa 0))
  (operations
    (:enter1 [] (select (= :aa 0) (assign :aa 1)))
    (:enter2 [] (select (= :aa 0) (assign :aa 2)))
    (:leave1 [] (select (= :aa 1) (assign :aa 0)))
    (:leave2 [] (select (= :aa 2) (assign :aa 0)))
    (:try1 [] skip)
    (:try2 [] skip)))