(machine :KnightsKnaves
  (constants :A :B :C)
  (properties
    (member? :A bool-set)
    (member? :B bool-set)
    (member? :C bool-set)
    (<=> (= :A true) (or (= :B false) (= :C false)))
    (<=> (= :B true) (= :A true))))