(machine :Lift
  (variables :etage)
  (invariants
    (member? :etage (interval 0 99)))
  (init (assign :etage 4))
  (operations
    (:inc [] (pre (< :etage 99) (assign :etage (+ :etage 1))))
    (:dec [] (pre (> :etage 0) (assign :etage (- :etage 1))))))