(machine :Registrar
  (extends :Marriage)
  (includes :Life)
  (promotes :born)
  (operations
    (operation [] :dies [:nn]
      (pre (and (member? :nn :PERSON) (member? :nn (union :male :female)))
        (parallel-sub
          (op-sub :die :nn)
          (cond
            (member? :nn (dom :marriage)) (op-sub :part :nn (fn-call :marriage :nn))
            (member? :nn (ran :marriage)) (op-sub :part (fn-call (inverse :marriage) :nn) :nn)))))))