(machine
  :Registrar
  (extends :Marriage)
  (includes :Life)
  (promotes :born)
  (operations
    (operation [] :dies [:nn] (pre
                                (and
                                  (contains? :PERSON :nn)
                                  (contains? (union :male :female) :nn))
                                (parallel-sub
                                  (op-sub :die :nn)
                                  (cond
                                    (contains? (dom :marriage) :nn) (op-sub :part :nn (apply :marriage :nn))
                                    (contains? (ran :marriage) :nn) (op-sub :part (apply (inverse :marriage) :nn) :nn)))))))